@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h4>
    Sorry we encountered an error. We are trying to solve it. The website will be up and running shortly, please.
</h4>

